@use "sass:math";

@import 'reset';

$base-font-size: 16;

// Function Rem to Px

@function rem($size) {
  @if ($size % 2 !=0 and $size !=1) {
    @warn "rem(#{$size}) is odd. Should be even";
  }

  @if ($size==0) {
    @warn "rem(#{$size}) is zero. Use plain 0 instead";
  }

  @return math.div($size, $base-font-size)+rem;
}

$col_text: #BBDBFD;
$trans: 0.3s;

// Specification

body {
  font-family: "Noto Sans", sans-serif;
  overflow: hidden;
}

h1,h2 {
  font-family: "Passion One", sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: rem(30);
}

p {
  font-weight: 400;
}

span, a {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: rem(1600);
  padding: 0 rem(20);
  @media screen and (min-width: rem(1280)) {
    padding: 0 rem(30);
  }
}

.btn {
  background: #FF7F27;
  color: #fff;
  font-size: rem(20);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: rem(220);
  width: 100%;
  height: rem(58);
  border-radius: rem(8);
  transition: all $trans ease;
  cursor: pointer;
  &:hover {
    background: #ff6f0f;
    transform: scale(1.05);
  }
  &:active {
    transform: scale(0.9);
  }
  @media screen and (min-width: rem(768)) {
    max-width: rem(300);
    height: rem(70); 
    font-size: rem(26);
  }
}

// Main content

.main_content {
  padding-top: rem(30);
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0C1D3E;
  @media screen and (min-width: rem(360)) {
    padding-top: rem(60);
  }
  @media screen and (min-width: rem(1280)) {
    background-image: url('../img/desktop_bg.jpg');
  }
}

.logo {
  width: rem(140);
  height: rem(40);
  margin-bottom: rem(30);
  @media screen and (min-width: rem(360)) {
    width: rem(200);
    height: rem(58); 
    margin-bottom: rem(50);
  }
  @media screen and (min-width: rem(768)) {
    margin-bottom: rem(120);
    width: rem(252);
    height: rem(70);  
    margin-bottom: rem(140); 
  }
  
}

.offer {
  color: $col_text;
}

.offer_title {
  font-size: rem(40);
  color: #fff;
  margin-bottom: rem(20);
  @media screen and (min-width: rem(360)) {
    font-size: rem(48);  
  }
  @media screen and (min-width: rem(768)) {
    font-size: rem(62);  
  }
}

.subtitle {
  font-weight: 700;
  font-size: rem(20);
  margin-bottom: rem(20);
  @media screen and (min-width: rem(768)) {
    font-size: rem(28);  
    margin-bottom: rem(40);
  }
}

.offer_text {
  font-size: rem(16);
  margin-bottom: rem(20);
  @media screen and (min-width: rem(768)) {
    font-size: rem(20);  
  }
}

.wheel_box {
  width: 100vmin;
  height: 100vmin;
  position: fixed;
  right: rem(10);
  top: 0;
  margin-top: calc((200vh - 100vmin) / 2);
  z-index: 999;
  @media screen and (min-width: rem(768)) {
    right: rem(20);
  }
  @media screen and (min-width: rem(1280)) {
    margin-right: -48.5vmin;
    margin-top: calc((100vh - 100vmin) / 2);
  }
}

.wheel {
  position: absolute;
  margin: auto;
  top: 0;
  left: 6vmin;
  right: 0;
  bottom: 0;
  width: 84%;
  height: 84%;
}

.wheel_bg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 3vmin;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.wheel_wrap {
  position: relative;
  width: 100vmin;
  height: 100vmin;
}

.pop_up {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 63, 77, 0.9);
  z-index: 1000;
  display: none;
  opacity: 0;
}

.pop_up_content {
  max-width: rem(294);
  width: 100%;
  border-radius: rem(12);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: #fff;
  flex-direction: column;
  gap: rem(16);
  padding: rem(30) 0;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    gap: rem(32);
    max-width: rem(700);
    padding: rem(40);
  }
  @media screen and (min-width: 1024px) {
    padding: rem(92) 0;
    max-width: rem(914);
  }
}

.pop_up_offer {
  text-align: center;
  h2 {
    font-size: rem(42);
    color: #323F4D;
    margin-bottom: rem(30);
  }
  .subtitle {
    margin-bottom: rem(10);
    color: #323F4D;
  }
  .offer_text {
    color: #A6A6A6;
  }
  .btn {
    max-width: rem(316);
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    text-align: left;
    h2 {
      font-size: rem(60); 
    }
    .btn {
      margin: 0;
    }
  }
}

.pop_up_img {
  width: rem(200);
  height: rem(200);
  @media screen and (min-width: 768px) {
    width: rem(238);
    height: auto;
  }
}